body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fond {
    height: 100%;
    width: 100%;
    background: url(./Media/IA_background_HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-position: center;
    filter: brightness(0.8);
}

.hauteur {
    margin: 0;
}

h1 {
    color: white;
    font-size: 3rem;
}

img {
    width: 45px;
    color: white;
}

li {
    list-style: none;
}


a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
}

a:visited {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: white;
    opacity: 0.8;
}

/*NAVBAR*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

@media (max-width: 980px) {
    #icons {
        display: block;
    }
    #icons:before {
        content: "\2630";
        color: azure;
        font-size: 40px;
    }
    .active #icons:before {
        content: "\2715";
    }
    nav ul {
        position: fixed;
        left: -100%;
        top: 10%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.25s;
    }
    nav li {
        padding: 3px 0;
    }
    nav.active ul {
        left: 0;
    }
}

.texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titre {
    margin: 30px;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: 0;
    color: white;
    background: linear-gradient(to right,#6610f2,#6f42c1);
    transition: box-shadow 0.3s ease-in-out; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: 2px solid white;
    height: 60px;
}

button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);}

button a {
    margin: 15px;
}
.clique:hover {
    opacity: 1;
}

p {
    padding: 10px;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
}
